[Unit]
Description=Springs Of Life Restarter
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart sol

[Install]
WantedBy=multi-user.target