[Unit]
Description=Springs Of Life
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/startx
WorkingDirectory=/home/zero/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=zero

[Install]
WantedBy=multi-user.target